
@{
    ViewData["Title"] = "Lähimmät vessat";
}
<div class="form-row mt-4 mb-1">
    <input type="text" id="paikka" class="form-control col-xl-3 col-lg-3 col-sm-auto col-md-3 m-2" placeholder="Osoite tai paikka" />
    <input type="button" class="btn btn-primary m-2 col-sm-auto col-md-1 col-lg-1 col-xl-1" id="hae" value="Hae" onclick="HaeLista();" />
    <a class="btn btn-outline-primary m-2 col-sm-auto col-md-auto col-lg-1 col-xl-1" data-toggle="collapse" href="#rajaukset">Rajaukset</a>
</div>
<div class="collapse" id="rajaukset">
    <div class="form-row">
        <div class="col-form-label mx-1 my-md-2 my-lg-2 my-xl-2">Hakutuloksia:</div>
        <input type="number" id="maara" class="form-control col-sm-auto col-md-1 col-lg-1 col-xl-1 mx-2 m-md-2 m-lg-2 m-xl-2" value="10" step="5" />
        <div class="col-form-label mx-1 my-md-2 my-lg-2 my-xl-2">Postinumeroalue:</div>
        <input type="text" id="postinumero" class="form-control col-sm-auto col-md-2 col-lg-2 col-xl-2 mx-2 m-md-2 m-lg-2 m-xl-2" />
        <div class="col-form-label mx-1 my-md-2 my-lg-2 my-xl-2">Kaupunki:</div>
        <input type="text" id="kaupunki" class="form-control col-sm-auto col-md-3 col-lg-3 col-xl-3 mx-2 m-md-2 m-lg-2 m-xl-2" />
        <input type="button" class="btn btn-primary mx-2 mt-3 m-md-2 m-lg-2 m-xl-2 col-sm-auto col-md-1 col-lg-1 col-xl-1" id="paivita" value="Päivitä" onclick="HaeLista();" />
    </div>
</div>
<div id="lista" class="mt-4"><h2>Ladataan lähimpiä vessoja sijaintisi perusteella...</h2></div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    var coords;
    function HaeLista() {
        if ($('#paikka').val() != null && $('#paikka').val() != "") {
            $.ajax({
                url: '@Url.Action("LahimmatLista", "Vessa")',
                //Passes the content of an input up
                data: {
                    paikka: $('#paikka').val(),
                    maara: $('#maara').val(),
                    postinumero: $('#postinumero').val(),
                    kaupunki: $('#kaupunki').val()
                },
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                $('#lista').html(data);
                }
            }); 
        } else {
            Paikanna();
        }
    }

    function Paikanna() {
        navigator.geolocation.getCurrentPosition(PaikannusOnnistui, PaikannusEpäonnistui)
    }

    function PaikannusOnnistui(data) {
        $.ajax({
            url: '@Url.Action("LahimmatLista", "Vessa")',
            data: {
                lat: data.coords.latitude, lon: data.coords.longitude,
                maara: $('#maara').val(),
                postinumero: $('#postinumero').val(),
                kaupunki: $('#kaupunki').val()
            },
            success: function (data) {
                $('#lista').html(data);
            }
        });
    }

    function PaikannusEpäonnistui() {
        $("#lista").html("<h2>Paikannus epäonnistui.</h2><p>Kokeile kytkeä sijainnin käyttäminen päälle tai kirjoita paikka hakukenttään.</p>")
    }

    $(function () {
        Paikanna();
        document.getElementById("paikka").addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                HaeLista();
            }
        })
        document.getElementById("maara").addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                HaeLista();
            }
        })
        document.getElementById("kaupunki").addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                HaeLista();
            }
        })
        document.getElementById("postinumero").addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                HaeLista();
            }
        })
    })
</script>