@model VessaMVC.Models.Kommentit

@{
    ViewData["Title"] = "Jätä kommentti";
}

<h1>Jätä kommentti</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LisaaKommentti">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="id" value="@ViewBag.Id" />
            <div class="form-group">
                <label asp-for="Arvio" class="control-label"></label>*
                <input asp-for="Arvio" class="form-control" min="1" max="5" />
                <span asp-validation-for="Arvio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sisältö" class="control-label"></label>
                <input asp-for="Sisältö" class="form-control" />
                <span asp-validation-for="Sisältö" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Lähetä" class="btn btn-primary" />
                <input type="submit" value="Takaisin" class="btn btn-primary" onclick="window.history.back()" />
            </div>
        </form>
        <p class="text-primary"><small>* pakollinen kenttä</small></p>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
