
@{
    ViewData["Title"] = "Lisenssit";
}

<h1>Lisenssit</h1>

<div class="col-md-4">
    <p>Palvelu hyödyntää osoite ja paikkatietohaussa HSL:n Geokoodaus-API:n rajapintaa osoitehakuun sijainnin perusteella, kohteiden osoitteiden ja sijaintien hakemiseen ja postinumeroiden tarkastamiseen.</p>
    <p>HSL Geokoodaus-API:n tiedot on lisenssoitu <a href="https://creativecommons.org/licenses/by/4.0/deed.fi" target="_blank">Creative Commons Nimeä 4.0 Kansainvälinen</a> -lisenssillä. Osa Geokoodaus-API:n kohdetiedoista on lisenssoitu OpenStreetMapin käyttäjiltä <a href="https://en.wikipedia.org/wiki/Open_Database_License" target="_blank">ODBl</a>-lisenssillä.</p>
</div>

